<div class="foodbase-container"
    data-ng-controller="FoodBaseController as ctrl">
    <div class="foodbase-list">
        <input type="text"
            class="form-control no-outline-border foodbase-list-searchbar"
            placeholder="Search.."></input>
        <div class="list-group">
            <button type="button" class="foodbase-list-item"
                data-ng-repeat="food in ctrl.foodList.foods"
                data-ng-click="ctrl.retrieveFood(food.id)">{{food.name}}</button>
        </div>
    </div>
    <div class="panel foodbase-information-panel"
        data-ng-hide=!ctrl.shownFood>
        <div class="panel-heading foodbase-information-header">
            <h3 class="panel-title">{{ctrl.shownFood.name}}</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>Carbohydrate</td>
                        <td>{{ctrl.shownFood.carbohydrate.weightPortion.value}} {{ctrl.shownFood.carbohydrate.weightPortion.metric}}</td>
                    </tr>
                    <tr>
                        <td>Protein</td>
                        <td>{{ctrl.shownFood.protein.weightPortion.value}} {{ctrl.shownFood.protein.weightPortion.metric}}</td>
                    </tr>
                    <tr>
                        <td>Fat</td>
                        <td>{{ctrl.shownFood.fat.weightPortion.value}} {{ctrl.shownFood.fat.weightPortion.metric}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>