<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   
   <head>
      <title>weallt</title>
      <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">

	  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
	  <link href="assets/weallt.min.css" rel="stylesheet">
      
   </head>
   
   <body data-ng-app="weallt">
    <nav class = "navbar app-navigation" role = "navigation">
      <div>
         <ul class="nav navbar-nav" data-ng-controller="NavbarController as ctrl">
            <li class="active app-navigation-item" id="summary" data-ng-click="ctrl.changeTab('summary')"><a href = "#/summary">Summary</a></li>
            <li class="app-navigation-item" id="foodbase" data-ng-click="ctrl.changeTab('foodbase')" ><a href = "#/foodbase">FoodBase</a></li>
            <li class="app-navigation-item" id="exercisebase" data-ng-click="ctrl.changeTab('exercisebase')" ><a href = "#/exercisebase">ExerciseBase</a></li>
         </ul>
      </div>
    </nav>   
    <div data-ng-view class="tab-container"></div>

    <script src="assets/weallt.min.js"></script>
      
   </body>
</html>