.add-food-form {
    align-self: center;
}

.add-food-form label {
    color: white;
}

.add-food-form-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 40%;
    height: 50%;
    background-color: #2e2f33;
    border-radius: 10px;
}
