html, body {
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    background-color: #ffc7c7;
}

.register-panel {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #fff7e1;
}

.register-panel .email-input {
    margin-bottom: 10px;
}

.register-panel .password-input {
    margin-bottom: 10px;
}

.no-outline-border:focus {
    border-color: #ccc;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.no-outline-border:focus:active {
    outline: none;
    background-color: #fff;
    border-color: #ccc;
}

.upper-register-panel {
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-basis: 0;
}

.register-form {
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-basis: 0;
}

.lower-register-panel {
    flex-grow: 1;
    flex-basis: 0;
}

.app-navigation {
    background-color: #2e2f33;
    margin-bottom: 0px;
    border: none;
    border-radius: initial;
}

.app-navigation .navbar-nav>.active>a {
    background-color: #fff7e1;
}

.app-navigation .navbar-nav>.active>a:hover {
    background-color: #fff7e1;
}

.app-navigation .navbar-nav>.active>a:focus {
    background-color: #fff7e1;
}

.app-navigation .navbar-nav a {
    font-size: 2rem;
}

.tab-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    background-color: #fff7e1;
    padding: 30px 25px;
}

.app-navigation-item a {
    color: white;
}

.app-navigation-item a:hover {
    background-color: transparent !important;
    color: #fff7e1;
}

.active.app-navigation-item a {
    color: #2e2f33;
}

.active.app-navigation-item a:hover {
    background-color: #fff7e1 !important;
    color: #2e2f33;
}