html, body {
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    background-color: #ffc7c7;
}

.login-panel {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #fff7e1;
}

.register-panel {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #fff7e1;
}

.login-panel .form {
    max-width: 350px;
}

.login-panel .email-input {
    margin-bottom: 10px;
}

.login-panel .password-input {
    margin-bottom: 10px;
}

.register-panel .email-input {
    margin-bottom: 10px;
}

.register-panel .password-input {
    margin-bottom: 10px;
}

.no-outline-border:focus {
    border-color: #ccc;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.no-outline-border:focus:active {
    outline: none;
    background-color: #fff;
    border-color: #ccc;
}

.login-button {
    font-weight: 600;
}

.login-button:hover {
    background-color: #ffeaea;
}

.register-button {
    font-weight: 600;
}

.register-button:hover {
    background-color: #ffeaea;
}

.upper-register-panel {
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-basis: 0;
}

.register-form {
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-basis: 0;
}

.lower-register-panel {
    flex-grow: 1;
    flex-basis: 0;
}

.app-navigation {
    background-color: #ffc7c7;
    margin-bottom: 0px;
    border: none;
}

.app-navigation .navbar-nav>.active>a {
    background-color: #fff7e1;
}

.app-navigation .navbar-nav>.active>a:hover {
    background-color: #fff7e1;
}

.app-navigation .navbar-nav>.active>a:focus {
    background-color: #fff7e1;
}

.app-navigation .navbar-nav a {
    font-size: 2rem;
}

.tab-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    background-color: #fff7e1;
    padding: 30px 25px;
}

.food-list {
    display: flex;
    flex-direction: column;
}

.food-information-panel {
    flex-grow: 1;
}

.add-food-form {
    align-self: center;
}

.add-food-form-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 40%;
    height: 50%;
    background-color: #ffc7c7;
    border-radius: 10px;
}