.login-container{
    position: absolute;
    background: #2e2f33;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.login-panel {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #fff7e1;
}

.form-control:focus{
    border-color: #2e2f33;
}

.login-panel .form {
    max-width: 350px;
}

.login-panel .email-input {
    margin-bottom: 10px;
}

.login-panel .password-input {
    margin-bottom: 10px;
}